extends layout

block append variables
	- var title = title
	- var headerType = "edit"
	- var footerType = "edit"


block append head
			link(	rel="stylesheet", 
						href="#{templateUrl}", 
						type="text/css", 
						media="screen")
			link(href="/static/css/dzslide.css", rel="stylesheet", type="text/css")
			//TO REMOVE
			script(type="text/javascript", src="/static/js/dzslide.js")

block body
	section(id="body", data-view="edit")
		include header
		article
			each slide in slides
				section(data-slide="#{slide.slideId}",
								class="#{slide.classes}")
					!= slide.content
		include footer