block variables

footer#appFooter
	case footerType
		when "home"
			label.iconSearch
				input(	type="text", 
								name="search"
								placeholder="Search a presentation…")
			button.iconNew(onclick="window.location.replace('/create/presentation')")

		when "edit"
			button.iconMenu
			div.dropdown
				button Edit slide style
				button Edit slide source
				button Slide's notes
				button delete slide
			button.iconInsert
			div.dropdown
				button Insert image
				button Insert video
				button Insert title
				button Insert text
				button Insert list
			button.iconNew

		when "create"
			button.iconDone(
				disabled="disabled",
				onclick="Slidez.CreateView.create();"
			)

		when default
			p Unkown footer : #{footerType}