extends layout

block append variables
	- var title = "Open a presentation"
	- var headerType = "home"
	- var footerType = "home"

// TODO : the href MUST use the configuration

block body
	section(id="body", data-view="home")
		include header
		article
			each presentation in presentations
				section(class="presentationElmt view")
					//mixin presentationIframe(presentation)
					iframe(src="#{presentation.url}")
					section.presentationInfo
						h2 #{presentation.title}
						p #{presentation.lastEdit}
					a(	href="/edit/#{presentation.id}", 
						onclick="editPresentation(#{presentation.id});")
						h1 Open
		include footer