extends layout

block append variables
	- var title = "Open a presentation"
	- var headerType = "home"
	- var footer = ["search", "new"]


block body
	section(id="body", data-view="home")
		include header
		article
			each presentation in presentations
				section(class="presentationElmt")
					mixin presentationIframe(presentation)
					section.presentationInfo
						h2 #{presentation.title}
						p #{presentation.lastEdit}
					a(	href="/presentation/#{presentation.id}", 
						onclick="editPresentation(#{presentation.id});")
						h1 Open
		include footer



mixin presentationIframe(presentation)
	- var iframeContent = "";
	- iframeContent += "<link 	rel='stylesheet'";
	- iframeContent += "		href='"+presentation.templateUrl+"'";
	- iframeContent += "		type='text/css'";
	- iframeContent += "		media='screen'/>";
	- iframeContent += "<section data-slide='unknown'>";
	- iframeContent += 		presentation.firstSlide;
	- iframeContent += "</section>";

	- iframeContent = escape(iframeContent);

	iframe(src="data:text/html;charset=utf-8,#{iframeContent}")
		link(	rel="stylesheet", 
				href=#{presentation.template}, 
				type="text/css", 
				media="screen")
		section
			| #{presentation.firstSlide}
	
