!!! 5

title #{title}
meta(charset="uft8")
meta(name="presentationId", content="#{_id}")
link(href="/template/#{template}", rel="stylesheet", type="text/css")
link(href="/static/css/dzslides.css", rel="stylesheet", type="text/css")
script(type="text/javascript", src="/static/js/dzslides.js")


- var i = 0	
each slide in slides
  - i = i+1
  section(
  	class="#{slide.classes}", 
  	data-slide="#{slide._id}",
  	onfocus="Slidez.EditView.onSlideFocus(this);",
  	onblur="Slidez.EditView.onSlideBlur(this);",
  	tabindex="#{i}"
  )!= slide.content

div#progress-bar